 *{
	box-sizing:border-box;
	padding:0;
	
}
html, body{
	width:100%;
	height:100%;
}

h1{
	text-align:center;
	font-weight: bold;
	padding-top:20px;
}
h2 {
	margin-top:50px;
	text-align:center;
	font-weight: bold;
	padding-top:20px;
}
li{
	margin-top:5px;
	margin-bottom:10px;
	
}
em{
	font-weight: bold;
	color:#FF6633
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #AAFAFF;
}

#wrapper {
	position:absolute;
	top:0;
    width: 100%;
    min-width: 1000px;
    max-width: 2000px;
    margin: 0 auto;
	
}

#headerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#header {
    height: 75px;
    background: #8B59FC;
    border-radius: 10px;
    border: 1px solid #440044;
    margin: 5px;
}

#contentliquid {
    float: left;
    width: 100%;
}

#contentwrap {
	text-align:center;
    width: 100%;
	display:flex;
	justify-content:space-around;
	font-weight: bold;
	font-size:20px;
}

#content {
	justify-content:center;
	display:flex;
	width:100%;
	height:100%;
}
.flecha {
	margin-top:100px;
}
#footerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
    clear: both;
	justify-content: center;
}

#footer {
	color:white;
    height: 40px;
    background: black;
    border-radius: 10px;
    border: 1px solid red;
    margin: 5px;
    text-align:center;
    font-size:8px;
}
#centrar-menu{
	display:flex;
	justify-content:center;
}
#menu-bar {
	width: 1200px;
	padding: 5px 8px 25px 6px;
	height: 55px;
	border-radius:30px;
	box-shadow: 5px 5px 6px #666666;
	background: #128B22;
	background: -webkit-gradient(linear, left top, left bottom, from(#5514A9), to(#7A7717));
	border: solid 2px #6D0927;
	position:absolute;
	text-align:center;
}
#menu-bar li {
	display:inline-block;
	color:white;
	margin-right:20px;
}
#menu-bar a {
	font-weight: bold;
	font-family: helvetica;
	font-style: normal;
	font-size: 18px;
	color: #0CE71A;
	text-decoration: none;
	display: block;
	padding: 6px 20px 6px 20px;
	margin: 0;
	margin-bottom: 6px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
	background: #0399D4;
	background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
	background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
	background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
	color: #CF00AC;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
	background: none;
	border: none;
	color: #666;
  
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#menu-bar ul a:hover {
	background: #0399D4 ;
	background: linear-gradient(top,  #04ACEC,  #0186BA) ;
	background: -ms-linear-gradient(top,  #04ACEC,  #0186BA);
	background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) ;
	background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) ;
	color: #FFFFFF ;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
	display: block;
}
#menu-bar ul {
	background: #DDDDDD;
	background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
	background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
	background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 30px;
	left: 0;
	border: solid 1px #B4B4B4;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 2px 2px 3px #222222;
	-moz-box-shadow: 2px 2px 3px #222222;
	box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#menu-bar ul a {
	padding:10px 0px 10px 15px;
	color:#16C722;
	font-size:18px;
	font-style:normal;
	font-family:arial;
	font-weight: normal;
	text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar {
	display: inline-block;
}
  html[xmlns] #menu-bar {
	display: block;
}
* html #menu-bar {
	height: 1%;
}
#video {
	height:auto;
	width:auto;
}
.perfil img {
	width:300px;
	height:300px;
}

.container{
	position: relative;
	width:400px;
	height:310px;

	
}

.container:hover .capaAuxTexto{
	top: 0;
	opacity: 100;
}

.container:hover .capaAuxImagen{

}

.capaAuxImagen{
	position:relative;
	width:400px;
	height:310px;
	top: 0px;
	transition: all 1s ease;
}
.capaAuxImagen img{
	width:400px;
	height:310px;
}

.capaAuxTexto{
	position: absolute;
	top:0;
	color:white;
	background-color:#80b7a0;
	width:400px;
	height:310px;
	margin: 0 auto 0 auto;
	display:table;
	opacity:0;
	transition: all 1s ease;
}

.enlace{
	font-size:50px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

.enlace a:link{
	color:white;


